footer {
  border-top: 1px solid #ccc;
  height: 16.625rem;
  padding: 1.875rem;
}

footer i {
  font-size: 1.25rem;
}

#social-icons-container {
  padding: 1.56rem;
}

#social-icons-container div {
  text-align: center;
}

footer p {
  margin: 1.25rem;
  text-align: center;
}

a:hover i {
  color: #c1b696;
}
